{{!-- <form action="/login" method="POST">
   <label> Username
      <input type="text" name="username" value="{{username}}">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button> 
</form> --}}
<section class="section">

<div class="Logincontainer"> 
    <form action="/login" method="POST">
<h1 title="Login Session" class="form-title">Sign In</h1>
 <div class="form-field"> 
   <label> {{!-- Username --}}
      <input type="text" name="username" value="{{username}}"  placeholder="USERNAME" class="form-field" >
   </label>
</div>

    <div class="form-field"> 
   <label> {{!-- Password --}}
      <input type="password" name="password" placeholder="PASSWORD" class="form-field">
   </label> 
 </div> 
 <button type="submit" class="form-button">Sign In</button> 


</form>

</div>
</section>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}