<section class="login-container">
<form action="/login" method="POST">

  <div class="container">
   <div class="username-password-login">
    <label for="uname"><b>Username</b></label>
    
    <input type="text" name="username" value="{{username}}"placeholder="Enter Username">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password"placeholder="Enter Password">
</div>
<div class="button-login">
    <button type="submit">Login</button>
    </div>
  </div>
</form>

<p>If you still don't have an account, please <a href="/signup"> <b>signup</b></a></p>
</section>


{{#if errorMessage}}
   {{errorMessage}}
{{/if}}