<form action="/signup" method="POST">

   <label> Username*
      <input type="text" name="username" id="username">
   </label>

   <label> Email*
      <input type="email" name="email" id="email">
   </label>

   <label> Password*
      <input type="password" name="password" id="password">
   </label>

   <label> Name (optional)
      <input type="text" name="name" id="name">
   </label>

   <label> Last Name (optional)
      <input type="text" name="last_name" id="last_name">
   </label>

   <button type="submit">Sign up!</button>
   {{#if errorMessage}}
   {{errorMessage}}
{{/if}}
</form>


