{{!-- <form action="/signup" method="POST">

   <label> Username*
      <input type="text" name="username" id="username">
   </label>

   <label> Email*
      <input type="email" name="email" id="email">
   </label>

   <label> Password*
      <input type="password" name="password" id="password">
   </label>

   <label> Name (optional)
      <input type="text" name="name" id="name">
   </label>

   <label> Last Name (optional)
      <input type="text" name="last_name" id="last_name">
   </label>

   <button type="submit">Sign up!</button>
   {{#if errorMessage}}
   {{errorMessage}}
{{/if}}
</form>


 --}}



<section class="singup-container">

<form action="/singup" method="POST">

<div class="container">

   <div class="username">
    <label for="username"><b>Username</b>
    <input type="text" name="username" id="username">
</label>

<label for="email"><b>Email</b>
    <input type="email" name="email"placeholder="Enter Email" id="email">
    </label>


    <label for="password"><b>Password</b>
    <input type="password" name="password"placeholder="Enter Password" id="password">
    </label>


    <label for="name"><b>Name (optional)</b>
    <input type="text" name="name"  placeholder="First_Name" id="name">
    </label>

    <label for="Last Name"><b>Last Name (optional)</b>
    <input type="text" name="last_name" placeholder="Last_Name" id="last_name">
    </label>
<div>
   <div class="button-login">
<button type="submit">Sign up!</button>
</div>
</div>
</div>
  {{#if errorMessage}}
   {{errorMessage}}
{{/if}}
</form>
</section>








