<div class="container">
        <nav class="navbar">
            <div class="left">
                <img src="/images/logo1.jpeg" alt="">
            </div>
            <div class="right" id="session-btn">
               </select>
                <button><a href="/logout">Logout</a></button>
            </div>
        </nav>
        <div class="title">
            <div class="content">
                <h1>Sign in Here</h1>
                <h2>Sing anywhere. Play your favorites albums anytime.</h2>
                <form action="/login-username" method="GET">
                    <div class="email" >
                        <input type="username" name="username" placeholder="Username" value="" id="username">
                        <button type="submit"><a href="/login">Sign in </a></button>
                        <h3>If you already dont have an account <a href="/signup">Click Here</a></h3> 
                    </div>
                </form>
            </div>
        </div>

<hr width="100%" size="10%" color="black">

        <div class="albums-list-container">
            <h1 class="albums-list-title">Best Of Month</h1>
                <div class="albums-list-wrapper">
                    <div class="albums-list-item"> {{!-- each album  --}}
                        <img class="albums-list-item-images"  src="/images/party_default.jpeg" alt="" >  {{!-- source album that is on top --}}
                        <button class="albums-list-item-button">watch</button>
                    </div>
                     <div class="albums-list-item"> {{!-- each album  --}}
                        <img class="albums-list-item-images"  src="/images/party_default.jpeg" alt="" >  {{!-- source album that is on top --}}
                        <button class="albums-list-item-button">watch</button>
                    </div>
                     <div class="albums-list-item"> {{!-- each album  --}}
                        <img class="albums-list-item-images"  src="/images/party_default.jpeg" alt="" >  {{!-- source album that is on top --}}
                        <button class="albums-list-item-button">watch</button>
                    </div>
                     <div class="albums-list-item"> {{!-- each album  --}}
                        <img class="albums-list-item-images"  src="/images/party_default.jpeg" alt="" >  {{!-- source album that is on top --}}
                        <button class="albums-list-item-button">watch</button>
                    </div>
                     <div class="albums-list-item"> {{!-- each album  --}}
                        <img class="albums-list-item-images"  src="/images/party_default.jpeg" alt="" >  {{!-- source album that is on top --}}
                        <button class="albums-list-item-button">watch</button>
                    </div>
                    
                </div>
              
            </div>
        </div>
    </div>









