{{!-- <div class="container"> --}}
      
        <div class="home-container">
            <div class="home-title">
                <h1>Plan your next karaoke party!</h1>
             
                <h4>Sing anywhere, anytime.</h4>
            </div>

            <div class="home-form">
                <form  class="form-inline"  action="/login-create" method="GET">
        
                    <div class="email" >
                        <div class="input-group mb-3">
                        <input class="form-control mr-ml-4" type="username" name="username" placeholder="Username" value="" id="username" />
                        {{!-- <span class="input-group-text" id="basic-addon2">@</span> --}}
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
                        </div>
                        
                      <h5>If you don't have an account, you can <a href="/signup">signup here</a></h5> 
                  
                    </div>
    
                </form>
            </div>
            
        </div>




      {{!--   second part of home page !! --}}

{{!-- <hr width="100%" size="10%" color="grey">

        <div class="albums-list-container">
            <h1 class="albums-list-title">Best Of Month</h1>
                <div class="albums-list-wrapper">
                    <div class="albums-list-item"> {{!-- each album  --}}
                        <img class="albums-list-item-images"  src="" alt="" >  {{!-- source album that is on top --}}
                        
                    </div>
                     <div class="albums-list-item"> {{!-- each album  --}}
                        <img class="albums-list-item-images"  src="" alt="" >  {{!-- source album that is on top --}}
                       
                    </div>
                     <div class="albums-list-item"> {{!-- each album  --}}
                        <img class="albums-list-item-images"  src="" alt="" >  {{!-- source album that is on top --}}
                        
                    </div>
                     <div class="albums-list-item"> {{!-- each album  --}}
                        <img class="albums-list-item-images"  src="" alt="" >  {{!-- source album that is on top --}}
                        
                    </div>
                     <div class="albums-list-item"> {{!-- each album  --}}
                        <img class="albums-list-item-images"  src="" alt="" >  {{!-- source album that is on top --}}
                        
                    </div>
                    
                </div>
              
            </div>
        </div>
    </div>
 



