<h1>Party playlist</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/4I25nV9hXGA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<nav>

<li>Shakira Waka Waka</li>

</nav>

<nav>
    <button><a href=""> Play </a></button>
</nav>