/* Css to index Page!!! */


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  color: white;
  background-image: linear-gradient(to right, #3198E2 , #6D59c0, #893590, #E33F5F, #FDD579);
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

/* .container */ .navbar{
  height: 90px;
  display: flex;
  background-color: rgba(1, 0, 0, 0.7);
  
  
}

.navbar .left{
  padding-left: 0%;
  padding-top: 0.1%;
  
}

/* .container  */.navbar .right{
  display: flex;
  height: 85px;
  float: right;
  position: absolute;
  right: 100px;
  
}


/* .container */ .navbar .right button{
  margin: 6px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 400;
  padding: 13px 40px;
  background-color: transparent;
  cursor: pointer;
/* outline-style: auto; */
/* outline-color: rgb(255, 255, 255); */
  border-radius: 8px;
  border: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* .container */ .navbar .right button a{
  text-decoration: none;
  color: ghostwhite;
}

  .navbar  .right button .profile-button {
    margin: 6px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 400;
  padding: 13px 40px;
  background-color: transparent;
  cursor: pointer;
/* outline-style: auto;
outline-color: rgb(255, 255, 255); */
  border-radius: 8px;
  border: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



  


/* .container */ 
.title{
  padding: 250px 45px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* .container {
  display: flex;
  ...
  gap: 10px;
  gap: 10px 20px; */ /* row-gap column gap */
  /* row-gap: 10px;
  column-gap: 20px;
} */
.container .title .content{
  width: 950px;
  margin: auto;
  padding: 75px 0;
  text-align: center;
  
}
.container .title .content h1{
  width: 650px;
  margin: auto;
  font-size: 4.1rem;
  text-align: center;
  
}
.container .title .content h2{
  width: 650px;
  margin: auto;
  font-size: 1.6rem;
  text-align: center;
}
.container .title .content form h3{
  font-size: 1.3rem;
  margin: 18px 0;
  text-align: center;
  text-decoration: underline;
 }

 

.container .title .content form .email{
  width: 1000px;
  margin: auto;
}
.container .title .content form .email input{
  height: 60px;
  width: 450px;
  margin: auto;
  padding: 20px;
  font-size: 20px;
  outline: none;
}
.container .title .content form .email button{
  margin: auto;
  height: 60px;
  width: 180px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 7px 17px;
  background-color: #032e7f;
  cursor: pointer;
outline-color: black;
border-radius: 10px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  
  margin-left: -5px;
}
.container .title .content form .email button:hover{
  background-color: #032e7f;
}
.container .title .content form .email button a{
  text-decoration: none;
  color: white;
}


/* albums home page */
/* .albums-list-container{
  padding: 20px;
  
}

.albums-list-wrapper{
   display: flex;
   align-items: flex-end;
  justify-content: space-between;

}

.albums-list-item{
  margin-right: 30px;
}

.albums-list-item:hover .albums-list-item-images{
  transform: scale(1.2);
}


.albums-list-item-images{
  width: 200px;
  height: 200px;
  object-fit: cover;
    
}


.albums-list-item-button{
  padding: 10px;
  background-color: rgb(142, 222, 141);
  color: rgb(24, 55, 86);
  outline: none;
  cursor: pointer;
  position: relative;
  bottom: 38px;
  display: flex;
  align-items: center;

}
 */

/* css finish  index page */





/* css for login page  */

/* Bordered form */
.login-container  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 350px;
  height: 345px;
 /*  position: absolute;
  left: 700px;
  top: 400px; */
  
}

/* Full-width inputs */
/* .container .username-password-login input[type=text], input[type=password]  {
 
  width: 100%;
  padding: 15px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 15px;
} */

/* Set a style for all buttons */
.login-container button{
  background-color: #032e7f;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  padding: 14px 20px;
 margin-top: 35px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: larger;
  


  
 
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.login-container {
  padding: 16px;
}


/* end css login here */





/* signup here */

.signup-body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 30vw;
  height: 54vh;
 /*  position: absolute;
  left: 700px;
  top: 400px; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; 
    
  }


  


  .form-field {
    width: 20vw;
    height: 4vh;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
  

  /* Add padding to containers */
.button-signup {
  
width: 20.2vw;
height: auto;
padding-top: 10px;
background-color: #032e7f;
font-size: larger;



/* display: flex;
    flex-direction: column;
    justify-content: center; */


}


 .signup-container-button{
  /* width: 20vw; */
 /*  height: 20vh; */
   margin-top: 10px;
   border: none;
    cursor: pointer;
    /*  width: 100%; */
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
     
    }
  





/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
 .button-signup{
  padding: 16px;
}






/* singup end here  */








    



 








